/*
 * This css file is requested by templates/stats.php and adds colors to the size bars
 */

#imageStatsBars .statrow {
	margin: 2px;
}
#imageStatsBars .widthbar {
	background-color: #00b3ee;
}
#imageStatsBars .widthbar span {
	padding: 2px;
	color: white;
}